In [1]:
%pip install kaggle

Requirement already satisfied: kaggle in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (1.6.17)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.10 in c:\users\janani v\appdata\roaming\python\python310\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in c:\users\janani v\appdata\roaming\python\python310\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: colorama in c:\users\janani v\appdata\roaming\python\python310\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
from kaggle.api.kaggle_api_extended import KaggleApi

# Initialize Kaggle API
api = KaggleApi()
api.authenticate()

# Download the dataset
api.dataset_download_file('ankitbansal06/retail-orders', file_name='orders.csv', path='./data/')

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders

True

In [4]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\janani v\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\janani v\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import zipfile
import pandas as pd

zip_file_path = (r'C:\Users\JANANI V\proj_1_guvi\data\orders.csv.zip')

with zipfile.ZipFile(zip_file_path,'r') as zip_ref:
    zip_ref.extractall('.data/')

df = pd.read_csv(r'C:\Users\JANANI V\proj_1_guvi\data\orders.csv.zip')

df.head(5)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [ ]:
#remove duplicate rows
df =df.drop_duplicates()

#handle missing values
df = df.fillna(0)

#renaming columns
df.columns = [col.strip().lower().replace(' ','_') for col in df.columns]

#remove trailing spaces

df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)



print(df.head(5))

   order_id  order_date       ship_mode    segment        country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              city       state  postal_code region         category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  sub_category       product_id  cost_price  list_price  quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   discount_percent
0                 2
1                 3
2                 5
3                 2
4                 5

C:\Users\JANANI V\AppData\Local\Temp\ipykernel_2300\71841499.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [8]:
df['sale_price'] = df['list_price'] *(1 -df['discount_percent']/100)
df['discount'] = df['list_price'] - df['sale_price']
df['profit'] = df['sale_price'] - df['cost_price']

print(df.head(5))

   order_id  order_date       ship_mode    segment        country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              city       state  postal_code region         category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  sub_category       product_id  cost_price  list_price  quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   discount_percent  sale_price  discount  profit
0                 2       254.8       5.2    14.8
1                 3       708.1      21.9   108.1
2                 5         9.5       0.5    -0.5
3                 2       940.8      19.2   160.8
4                 5        19.0       1.0    -1.0

In [13]:
#two data frames by dividing the columns into two equal halves
midpoint = len(df.columns) // 2
tab1 = list(df.columns[:midpoint])
tab2 = list(df.columns[midpoint:])

if 'product_id' not in tab1:
    tab1.append('product_id')
if 'product_id' not in tab2:
    tab2.append('product_id')

orders_df = df[tab1]
products_df = df[tab2] 

print(orders_df.head(2))
print(products_df.head(2))

   order_id  order_date     ship_mode   segment        country       city  \
0         1  2023-03-01  Second Class  Consumer  United States  Henderson
1         2  2023-08-15  Second Class  Consumer  United States  Henderson

      state  postal_code region       product_id
0  Kentucky        42420  South  FUR-BO-10001798
1  Kentucky        42420  South  FUR-CH-10000454
    category sub_category       product_id  cost_price  list_price  quantity  \
0  Furniture    Bookcases  FUR-BO-10001798         240         260         2
1  Furniture       Chairs  FUR-CH-10000454         600         730         3

   discount_percent  sale_price  discount  profit
0                 2       254.8       5.2    14.8
1                 3       708.1      21.9   108.1

In [17]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\janani v\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\janani v\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\janani v\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

# Create a connection to TiDB Cloud
connection = pymysql.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "3YKstZXrasws9wp.root",
  password = "2tViyw42uqIpBKko",
  database = "proj_guvi",
  ssl_verify_cert = True,
  ssl_verify_identity = True,
  ssl_ca = (r"C:/Users/JANANI V/proj_1_guvi/isrgrootx1 (1).pem")
)
cursor = connection.cursor()

print("connected to TiDB Cloud successfully.")

connected to TiDB Cloud successfully.

In [21]:
# Create SQLAlchemy engine
connection_string = 'mysql+pymysql://3YKstZXrasws9wp.root:2tViyw42uqIpBKko@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/proj_guvi?ssl_ca=C:/Users/JANANI V/proj_1_guvi/isrgrootx1 (1).pem'
engine = create_engine(connection_string)

# Upload the DataFrames to TiDB Cloud
orders_df.to_sql('orders', con=engine, if_exists='replace', index=False)
products_df.to_sql('products', con=engine, if_exists='replace', index=False)

print("tables uploaded to TiDB Cloud successfully.")

tables uploaded to TiDB Cloud successfully.